<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :completed_at %>
  <%= f.check_box :completed_at %>

  <%= f.submit "Submit" %>
  <% end %>

<p>
  <%= "Are you sure you want to delete this task? (You can edit and submit instead!)" %>
  <%= link_to("Delete this task", task_delete_path(@task), method: :delete) %>
</p>
