<h3>Jared's Task List</h3>
<ul>
  <% @all_the_tasks.each do |task| %>
    <li>
    <p><%= link_to("#{task.title}", task_path(task[:id])) %></p>
    <p>Complete? <%= completion_status(task) %></p>
    <p><%= button_to "Edit", task_edit_path(task), method: :get %></p>
    <p><%= button_to("Mark as complete", task_complete_path(task), method: :patch) %></p>
  </li>
    <% end %>
</ul>

<p>
  <%= button_to("Add a new task!", tasks_new_path, method: :get) %>
</p>
